body {
  overflow-y: overlay !important;
  overflow-x: hidden;
  overflow-wrap: break-word;
  width: 100%;
  max-width: 960px;
}

.active {
  background-color: #266fa0 !important;
  border-color: #266fa0 !important;
}
